.card {
  width: 50%;
  margin: 10rem auto;
}

.card h2{
  text-align: center;
  font-size: 3.725rem;
  font-weight: 300;
  font-family: var(--font-Title);
}

.card p{
  line-height: 3.75rem;
  font-size: 1.25rem;
  text-align: justify;
}

.img-1 {
  display: flex;
}

.img-2 {
  display: none;
}

@media (max-width:600px) {
  .card {
    width: 90%;
  }
  .img-1{
    display: none;
  }
  .img-2{
    display: flex;
  }
}