.card {
  width: 50%;
  margin: 10rem auto;
}

.card h2{
  text-align: center;
  font-size: 3.125rem;
  font-weight: 300;
  font-family: var(--font-Title);
}

.card p{
  line-height: 3rem;
  text-align: justify;
}